body {
  padding: 0;
  margin: 0;
  background-color: #101114;
  font-family: 'OS'; }
  body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

@font-face {
  font-family: 'OS';
  src: url(../fonts/OS.ttf); }

.clear::before {
  display: block;
  content: '';
  clear: both; }

main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  font-size: 0;
  position: relative; }

.background-layout {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 12; }

.menu {
  background-color: #191c24;
  width: 320px;
  display: inline-block;
  vertical-align: top;
  margin-right: 2px;
  z-index: 15; }
  @media only screen and (max-width: 1000px) {
    .menu {
      position: absolute;
      top: 0;
      left: 0;
      display: none; } }

.menu__item:last-child {
  border-top: 1px solid #20232b; }

.menu__item__link {
  display: block;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  padding: 25px 0 25px 30px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1.1px; }
  .menu__item__link_active {
    background-color: #2a2d37;
    color: #808592;
    pointer-events: none;
    user-select: none; }
  .menu__item__link:hover {
    background-color: #1f2229; }

.menu__burger {
  display: none;
  widows: 60px;
  height: 60px; }
  @media only screen and (max-width: 1000px) {
    .menu__burger {
      display: block;
      position: absolute;
      top: 0;
      left: 5px;
      z-index: 16; } }
  @media only screen and (max-width: 769px) {
    .menu__burger {
      top: 0;
      left: auto;
      right: 0; } }

.payments {
  display: inline-block;
  vertical-align: top;
  width: 638px;
  background-color: #f7f8f8;
  padding: 42px 29px 45px; }
  @media only screen and (max-width: 1000px) {
    .payments {
      display: block;
      margin: 0 auto; } }

.payment-info {
  width: 100%; }

.payment-info__text {
  font-size: 16px;
  line-height: 20px;
  font-family: Arial, sans-serif;
  display: inline-block;
  vertical-align: top;
  width: 160px;
  color: #535864;
  margin-bottom: 6px; }

.payment-info__text_title {
  font-size: 16px;
  line-height: 21px;
  font-family: Arial, sans-serif;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  color: #535864;
  margin-bottom: 20px; }

.payment-info__text_title_inForm {
  margin-bottom: 4px; }

.payment-info__numbers {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  line-height: 20px;
  color: #373c43;
  margin-top: -2px; }

.form-title {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  padding: 24px 0 14px 0;
  font-weight: bold;
  font-family: OS;
  letter-spacing: 1.1px; }

.payments__form {
  padding: 29px 28px 0 15px;
  background-image: url("../img/card2.png");
  background-size: 98% auto;
  background-repeat: no-repeat;
  background-position: 0px 5px; }

.payments__form__card-number-item {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #ccffff;
  margin-right: 9px;
  font-size: 16px;
  line-height: 16px;
  padding: 11px 0;
  width: 65px;
  text-align: center;
  margin-bottom: 15px; }
  .payments__form__card-number-item:active, .payments__form__card-number-item:focus {
    outline: none; }

.payments__form__safe-info {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  position: relative;
  margin-bottom: 12px; }

.payments__form__safe-info_text-left {
  text-align: left; }

.payments__form__safe-info_text-right {
  text-align: right;
  padding-right: 3px; }
  .payments__form__safe-info_text-right .payment-info__text_title {
    padding-right: 8px; }

.payments__form__safe-info_input {
  position: relative;
  width: 70px;
  background-color: #fff;
  border: 1px solid #ccffff;
  display: inline-block;
  vertical-align: top;
  margin-right: 9px;
  cursor: pointer; }
  .payments__form__safe-info_input span, .payments__form__safe-info_input .payments__form__safe-info__list__values__item {
    display: block;
    width: 100%;
    line-height: 16px;
    font-size: 16px;
    padding: 11px 15px;
    position: relative;
    z-index: 10; }

.payments__form__safe-info__list__values__item:hover {
  background-color: #cccccc; }

.payments__form__safe-info__list__values {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  height: 200px;
  overflow-y: scroll;
  user-select: none; }

.payments__form__safe-info__year {
  width: 86px; }

.payments__form__safe-info_input__arrow {
  position: absolute;
  right: 7px;
  top: 15px;
  z-index: 5; }

.payments__form__safe-info__inputcvv {
  display: inline-block;
  vertical-align: top;
  width: 138px;
  border: 1px solid #ccffff;
  font-size: 16px;
  line-height: 16px;
  padding: 11px 15px; }
  .payments__form__safe-info__inputcvv:active, .payments__form__safe-info__inputcvv:focus {
    outline: none; }

.payments__form__safe-info__inputcvv__image {
  position: absolute;
  right: 12px;
  bottom: 9px; }

.payments__form__holder {
  width: 320px;
  border: 1px solid #ccffff;
  font-size: 16px;
  line-height: 16px;
  padding: 11px 15px;
  margin-bottom: 53px; }
  .payments__form__holder:active, .payments__form__holder:focus {
    outline: none; }

.payments__form__holder_uppercase {
  text-transform: uppercase; }

.payments__form__button {
  display: block;
  width: 133px;
  background-color: #0066cc;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  padding: 13px 0;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold; }

.payments__form__safe-info_input_error {
  border: 1px solid red; }

footer {
  width: 960px;
  margin: 0 auto; }
  @media only screen and (max-width: 1000px) {
    footer {
      width: 100%; } }

.footer-block {
  width: 638px;
  float: right;
  padding: 25px 29px;
  font-size: 12px;
  line-height: 17px;
  font-family: Arial, sans-serif;
  color: #7f8591;
  background-color: #373c43; }
  @media only screen and (max-width: 1000px) {
    .footer-block {
      margin: 0 auto;
      float: none; } }

.footer-block__paragraph {
  margin-bottom: 12px; }

footer {
  width: 960px;
  margin: 0 auto; }
  @media only screen and (max-width: 1000px) {
    footer {
      width: 100%; } }

.footer-block {
  width: 638px;
  float: right;
  padding: 25px 29px;
  font-size: 12px;
  line-height: 17px;
  font-family: Arial, sans-serif;
  color: #7f8591;
  background-color: #373c43; }
  @media only screen and (max-width: 1000px) {
    .footer-block {
      margin: 0 auto;
      float: none; } }

.footer-block__paragraph {
  margin-bottom: 12px; }

.hidden {
  display: none; }
