body {
	padding: 0;
	margin: 0;
	background-color: #101114;
	font-family: 'OS';
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
}
@font-face {
	font-family: 'OS';
	src: url(../fonts/OS.ttf);
}
.clear::before{
	display: block;
	content:'';
	clear: both;
}