main {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	font-size: 0;
	position: relative
}
.background-layout{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 12;
}